.getstartedbutton:hover {
  transform: scale(1.05);
  box-shadow: rgba(17, 236, 57, 0.608) 0px 0px 35px;
  color: #1bff76;
}
.getstartedbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 25px 0px;
  width: 353px;
  padding: 15px 50px 15px 50px;
  border-radius: 35px;
  background-color: transparent;
  border: 1px solid #1bff76;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.055em;
  text-align: center;
  color: #1bff76;
}

.homebuttonsdiv {
  display: flex;
  justify-content: center;
}

.ihometitleii {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 auto;
  overflow: hidden;
  white-space: normal;
}

.imageright {
  position: absolute;
  right: 0;
  top: 25%;
}

.imageleft {
  left: 0;
  position: absolute;
  top: 0;
}

.maindivihomepage {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.055em;
  line-height: 44px;
  padding: 50px 0 30px;
  text-align: center;
}

.iconnn {
  height: 60px;
  width: 60px;
}

.userguideborderdiv {
  -webkit-backdrop-filter: blur(30.5px);
  backdrop-filter: blur(30.5px);
  background: linear-gradient(180deg, #0c0b0b87, #1c1b1b87);
  border: 1px solid #8f4aff;
  border-radius: 47px;
  box-shadow: 0 5px 15px #00000059;
  box-shadow: inset 27px 23px 137px -34px #00000063;
  color: #fff;
  margin: 0 160px;
  padding: 30px 45px;
}

.rectangleboxfor4cards {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  align-items: center;
  background-color: rgba(113, 16, 223, 0.161);
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 215px;
  justify-content: space-evenly;
  padding: 30px 5px 5px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

#c1 {
  color: #00ffff;
}

.iconn {
  font-size: 1.2rem;
}

#a {
  /* box-shadow: rgb(5 226 226 / 18%) 0px 2px 4px 0px,
      rgb(5 216 185 / 20%) 0px 2px 16px 0px; */
  border: 1px solid #00ffff;
}

#a:hover {
  /* padding: 0px 10px; */
  /* scale: 1.1; */
  /* box-shadow: rgba(10, 226, 179, 0.692) 0px 5px 15px; */
  box-shadow: #00ffff 0px 0px 16px;
}

#c4 {
  color: #1bff76;
}

#d {
  /* box-shadow: rgba(33, 17, 154, 0.62) 0px 2px 4px 0px,
      rgba(30, 15, 164, 0.619) 0px 2px 16px 0px; */
  border: 1px solid #1bff76;
}

#d:hover {
  /* scale: 1.1; */
  /* box-shadow: rgba(10, 226, 179, 0.692) 0px 5px 15px; */
  box-shadow: #1bff76 0px 0px 16px;
}

#c2 {
  color: #3b7dff;
}

#b {
  /* box-shadow: rgba(167, 8, 29, 0.344) 0px 2px 4px 0px,
      rgba(180, 6, 49, 0.382) 0px 2px 16px 0px; */
  border: 1px solid #3b7dff;
}

#b:hover {
  /* scale: 1.1; */
  /* box-shadow: rgba(10, 226, 179, 0.692) 0px 5px 15px; */
  box-shadow: #3b7dff 0px 0px 16px;
}

#c3 {
  color: #9f53ff;
}

#c {
  /* box-shadow: rgba(97, 194, 7, 0.437) 0px 2px 4px 0px,
      rgba(70, 164, 15, 0.469) 0px 2px 16px 0px; */
  border: 1px solid #9f53ff;
}

#c:hover {
  /* scale: 1.1; */
  /* box-shadow: rgba(10, 226, 179, 0.692) 0px 5px 15px; */
  box-shadow: #9f53ff 0px 0px 16px;
}

.main-container {
  position: relative;
}

/* Base Styles */
.custom-modal {
  background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
  width: 500px;
  height: 320px;
  font-size: 35px;
  /* padding: 10px; */
  border-radius: 25px;
  min-height: 300px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.blurbackground {
  filter: blur(5px);
}

.popup-options {
}

.main-container {
  min-height: 80vh;
  padding: 30px 0px;
  min-height: 75vh;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Container */
.modal-container {
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Modal Header */
.custom-modal-header h6 {
  margin: 0px;
  font-weight: 700;
  padding-left: 25px;
}
.custom-modal-header {
  border-radius: 25px 25px 0px 0px !important;
  box-shadow: 0px 0px 4px 0px #fff;
  font-size: 30px;
  color: #8f00ff;
  background-color: white;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

/* Close Button */
.custom-close-button {
  display: flex;
  flex-direction: row-reverse;
  margin: 3px;
  background: transparent !important;
  cursor: pointer;
  font-size: 25px;
  color: #8f00ff !important;
  transition: all 200ms;
  border: none !important;
}

.custom-close-button:hover {
  color: #8f00ff !important;
  transform: rotate(90deg) !important;
}

/* Text Styles */
.custom-modal h5 {
  margin-bottom: 25px;
  color: white;
}

.custom-modal p {
  color: rgb(74, 7, 105);
  font-size: 35px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Button Styles */
.custom-modal button {
  font-weight: 500;
  background-color: transparent;
  color: white;
  margin: 10px 15px;
  border: 1px solid #1bff76;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  /* margin: 0 8px; */
}
.popup-button-flex {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  justify-content: center;
}
.custom-modal button:hover {
  /* border-radius: 39px; */
  border: none;
  color: #070707;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
}
.model-btn-flex {
  display: flex;
  flex-direction: column;
  /* height: 200px; */
  justify-content: center;
}
