.importtokendiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px 20px; */
}
.maindivsamecreatelist {
  border-radius: 47px;
  border: 1px solid #fff;
  background: black;
  -webkit-backdrop-filter: blur(30.5px);
  backdrop-filter: blur(30.5px);
  margin-bottom: 50px;
}

.listdropdownItem{
  padding: 8px 12px;
  cursor: pointer;
  background-color: #49058e91;
  color: white;
  border-bottom: 1px solid #ddd;
}

.listdropdown{
  position: absolute;
  left: 45%;
  top: 59%;
  background-color: #f9f9f9f9;
  /* border-radius: 5px; */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}


.listdropdown::-webkit-scrollbar {
  width: 1px; 
}

.listdropdown::-webkit-scrollbar-thumb {
  background-color: #5007e3; 
  border-radius: 1px; 
}
.listAccSum {
  width: fit-content;
  font-size: 12px;
  margin: 0 auto;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  transform: translate(-50%, -50%);
  animation: zoomAnimation 1s infinite alternate;
}
@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.maindivsamecreatelist {
  border-radius: 47px;
  border: 1px solid #fff;
  background: linear-gradient(
    101deg,
    rgba(255, 255, 255, 0.31) 1.58%,
    rgba(255, 255, 255, 0.03) 98.15%
  );
  -webkit-backdrop-filter: blur(30.5px);
  backdrop-filter: blur(30.5px);
  margin: 50px 0px;
}

.maindivsamecreatelist {
  border-radius: 47px;
  border: 1px solid white;
}
.addlistfix {
  width: 70% !important;
  margin: 0 auto;
  /* margin-left: 45% !important; */
}
.userformforlistoption {
  color: white;
}
.userformforlist {
  padding: 5px 0px;
}

#whitecolor {
  color: white;
}

.showtokentable {
  /* border: 1px solid #07beb8; */
  width: 100%;
  margin: 5px 0px;
  border-collapse: collapse;
}

.showtokentableth,
.showtokentabletd {
  border: 1px solid 07beb8;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}

.userformforlistoption {
  color: black;
}

.eachinputofcreatelist::placeholder {
  color: rgba(255, 255, 255, 0.542);
}

.eachinputofcreatelist.tokeninput {
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(97, 38, 193, 0.58) 0.06%,
    rgba(63, 47, 110, 0.58) 98.57%
  );
  color: white;

  padding: 15px 20px;
  margin: 0px 20px;
}
.tabletextlist {
  width: 100%;
  border-collapse: collapse;
}

.inputflexlist {
  display: flex;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
.inputflexlistlabel {
  width: 25%;
  text-align: start;
  letter-spacing: 1px;
}
.input-flex-list input {
  width: 40%;
  letter-spacing: 1px;
}
.userformforlist {
  padding: 25px 0px;
  border-radius: 15px;
}

.buttontoaddformdata:hover {
  /* border: 1px solid #0c3d77; */
  box-shadow: rgba(238, 242, 243, 0.553) 0px 5px 15px;
  /* background-color: rgba(18, 224, 235, 0.064); */
  /* color: white; */
}
.buttontoaddformdata {
  cursor: pointer;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 63px;
  margin: 0px 20px;
  font-size: 17px;
}

.buttontoaddformdataunload {
  cursor: pointer;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 63px;
  margin: 0px 20px;
  font-size: 17px;
}
.buttontoaddformdataunload:hover {
  box-shadow: rgba(238, 242, 243, 0.553) 0px 5px 15px;
}

.deletebutton:hover {
  cursor: pointer;
  /* border-color: red; */
  /* background-color: rgba(0, 213, 255, 0.019); */
}

.deletebutton {
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
}

.divtoaddthetx {
  margin: 10px 0px;
  justify-content: center;
  display: flex;
  margin-bottom: 55px;
  border-radius: 10px;
  flex-direction: column;
}

.stepstogetausdc {
  margin-top: 15px;
}
.stepstogetausdca {
  color: white;
  text-decoration: none;
}
.stepstogetausdcbutton {
  background-color: #0c3d77;
  width: 100%;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 20px;
}
.scrollabletable {
  margin-top: -15px;
  max-height: 230px;
  overflow: auto;
}

.divtoaddthetx table {
  width: 100%;
  border-collapse: collapse;
}

.divtoaddthetx table th {
  text-align: center;
  /* background-color: #0C3D77; */
  /* border: 1px solid #ddd; */
  padding: 2px;
}

#borderblue {
  border: 1px solid #0c3d77 !important;
}

.selectloadtokentitle h2 {
  border-radius: 47px 47px 0px 0px;
  font-size: 12px;
  background-color: white;
  color: #8f00ff;
  padding: 5px 0px;
  /* margin-bottom: 35px; */
}

.tableheadertextlist {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.accountsummartth {
  padding: 8px;
  text-align: center;
}

.accountsummarycreatetitle {
  padding: 5px 0px;
  font-size: 12px;
  color: #8f00ff;
  background-color: white;
}

.viewaddressdivtitle {
  font-size: 12px;
  background-color: white;
  color: #8f00ff;
  margin-bottom: -19px;
  padding: 5px 0px;
}

.enteraddressdivtitlee {
  font-size: 12px;
}

.enteraddressdivtitle {
  background-color: white;
  color: #8f00ff;
  font-weight: 700;
  line-height: 154.1%;
  letter-spacing: 1.04px;
  padding: 5px 0px;
  /* border-radius: 47px 47px 0px 0px; */
  font-size: 12px;
  /* margin-bottom: 35px; */
}

.divtoaddthetx table th:first-child {
  border-radius: 30px 0px 0px 30px;
}

.divtoaddthetx table th:last-child {
  border-radius: 0px 30px 30px 0px;
}

.divtoaddthetx table td {
  text-align: center;
  padding: 10px;
}

.scrollabletable {
  max-height: 300px;
  overflow: auto;
}

.scrollabletablecontainer {
  margin: 25px 0px;

  overflow: auto;
  /* --sb-track-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #7c49f9;
  --sb-thumb-color: #ffffff;
  --sb-size: 1px;

  text-align: center !important;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color); */
}

/* .scrollabletablecontainer::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollabletablecontainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

.scrollabletablecontainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
} */

.sendbutton:hover {
  cursor: pointer;
  background-color: rgba(20, 187, 216, 0);
  box-shadow: rgba(16, 162, 206, 0.12) 0px 2px 4px 0px,
    rgba(12, 156, 218, 0.32) 0px 2px 16px 0px;
}
.sendbutton {
  padding: 5px 35px;
  border: 1px solid white;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  /* width: max-content; */
  line-height: 37px;
  letter-spacing: 1px;
  text-align: center;
  margin: 50px 0px;
  color: white;

  border-radius: 40px;
}
.sendbutton:hover {
  border: none;
  color: #643bdc;
  background: #fff !important;
  box-shadow: 0px 0px 14px 0px #fff;
}

.blurredbackground {
  filter: blur(1px);
}

.popupforpayment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
  padding: 20px;
  border-radius: 30px;
  color: white;
  padding: 30px 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.popupforpaymentp {
  text-align: center;
  letter-spacing: 1px;
}

.popupforpaymenth2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Styling the close button in the popup */
.popupforpaymentbutton {
  border: 1px solid #1bff76;
  background: transparent;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.popupforpaymentbutton:hover {
  border: none;
  color: #070707;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
}

.divinsamecreatelisttokenload {
  /* border-bottom: 1px solid #0c3d77; */
  border-radius: 10px;
  padding: 5px 0px;
}

.divtocenter {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.customselect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  background-color: transparent;
  color: white;
}

.divtokeninputs {
  display: flex;
  justify-content: center;
  /* margin-bottom: 25px; */
  padding: 30px 20px;
}

.customselectoption {
  background-color: black;
  color: white;
}

.customselectoption:checked {
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
.inputflexlist input {
  letter-spacing: 1px;
  width: 40%;
}
.inputflexlist label {
  letter-spacing: 1px;
  text-align: start;
  width: 25%;
}
.inputflexlist {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}
.popupforpayment {
  background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
  border-radius: 30px;
  box-shadow: 0 0 10px #0000001a;
  color: #fff;
  left: 50%;
  padding: 30px 150px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.popupforpayment h2 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.popupforpayment p {
  letter-spacing: 1px;
  text-align: center;
}
.popupforpayment button {
  background: #0000;
  border: 1px solid #1bff76;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
}
.popupforpayment button:hover {
  border: none;
  color: #070707;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
}
.selectloadtokentitle {
  border-radius: 47px 47px 0px 0px;
  background: #fff;
  padding: 5px 0px;
  font-size: 12px;
}
@media (max-width: 768px) {
  .viewaddressdivtitleh2 {
    font-size: 15px !important;
  }
  .inputflexlistlabel {
    width: 100%;
  }
  .light-theme.each-input-of-create-list.token-input {
    width: 90% !important;
  }
  .dark-theme.each-input-of-create-list.token-input {
    width: 90% !important;
  }
  .inputflexlist {
    display: flex;
    width: 100%;
    margin: 10px auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .userformforlist {
    width: 100%;
  }

  .eachinputofcreatelist {
    width: fit-content;
  }

  .buttontoaddformdata {
    width: fit-content;
  }

  .scrollabletablecontainer {
    max-height: 200px;
  }

  .selectloadtokentitle {
    border-radius: 47px 47px 0px 0px;
    background: #fff;
    padding: 5px 0px;
    font-size: 12px;
  }

  .divtokeninputs {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    flex-direction: row !important;
    align-items: center;
  }

  .enteraddressdivtitleh2 {
    font-size: 15px !important;
  }
  .sametextmain {
    color: #8f00ff;
    font-size: 15px !important;
  }
  .inputflexlist label {
    letter-spacing: 1px;
    text-align: start;
    width: 100%;
    padding: 10px 0px;
  }
}
/* @media only screen and (min-width: 425px) {
  .orrr {
    margin: 5px 0px;
  }
  .importtokendiv {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* padding: 30px 20px; */
/* flex-direction: column !important; */
/* } */
/* .sametextmain {
    font-size: 15px !important;
  } */
/* } */

@media only screen and (max-width: 770px) {
  .listdropdown{
    position: absolute;
    left: 8% ;
    top: 52% ;
  }
  }
@media only screen and (max-width: 385px) {
  .listdropdown{
    position: absolute;
    left: 18% !important;
    top: 58% !important;
  }
  }

@media only screen and (max-width: 435px) {
.listdropdown{
  position: absolute;
  left: 18%;
  top: 54%;
}
}
@media only screen and (max-width: 425px) {
  .tableheadertextlist {
    font-size: 15px !important;
  }
  .tableTd {
    font-size: 12px;
  }
  .orrr {
    margin: 10px 0px;
  }
  #addtolistbuttonid {
    width: 100% !important;
    margin: 10px 0px !important;
  }

  .accountsummaryh2 {
    font-size: 15px !important;
  }
  .maindivsamecreatelist {
    margin: 10px;
  }
  .sendbuttindiv {
    display: flex;
  }
  .viewaddressdivtitleh2 {
    font-size: 15px !important;
  }
  #fontsize10px {
    font-size: 10px !important;
  }

  #inputtokenload {
    width: auto;
    margin: 10px 20px !important;
  }

  #tableresponsive {
    max-height: 400px;
    overflow: scroll;
    /* --sb-track-color: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #7c49f9;
    --sb-thumb-color: #ffffff;
    --sb-size: 1px;

    text-align: center !important;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color); */
  }

  /* #tableresponsive::-webkit-scrollbar {
    width: var(--sb-size);
  }

  #tableresponsive::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  #tableresponsive::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  } */
  .fontsize12px {
    font-size: 12px !important;
  }
  .popupforpayment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
    padding: 20px;
    border-radius: 30px;
    color: white;
    width: 85%;
    padding: 30px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .sendbutton {
    padding: 5px 35px;
    border: 1px solid white;
    background: transparent;
    font-size: 12px;
    font-weight: 700;
    /* width: max-content; */
    line-height: 37px;
    letter-spacing: 1px;
    text-align: center;
    /* margin: 10px 400px; */

    color: white;
    margin-bottom: 35px;
    border-radius: 40px;
  }
  .divtokeninputs {
    display: flex;
    padding: 30px 20px;
    flex-direction: column !important;
    align-items: center;
  }
  .buttontoaddformdata {
    width: -moz-fit-content;
    width: fit-content;
  }
  .buttontoaddformdata {
    font-size: 15px;
    width: -moz-fit-content;
    /* width: 100% !important; */
    width: auto;
    padding: 10px 35px;
  }
  .sametextmain {
    color: #8f00ff;
    font-size: 15px !important;
  }
  .titleinline {
    font-size: 15px !important;
  }
  /* table {
    font-size: 15px;
  } */
  .inputflexlist {
    font-size: 12px;
    display: flex;
    width: 90%;
    margin: 10px auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .enteraddressdivtitlelabel {
    letter-spacing: 1px;
    text-align: start;
    width: 100% !important  ;
    padding: 10px 0px;
  }
  .inputflexlist input {
    width: 80%;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0px !important;
  }
  .maddtolist {
    width: 100% !important;
  }

  .inputflexlistlabel {
    width: 100%;
    text-align: start;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .importtokendiv {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* padding: 30px 20px; */
    flex-direction: column !important;
  }

  .buttontoaddformdataunload {
    font-size: 15px;
  }
  .inputflexlist label {
    letter-spacing: 1px;
    text-align: start;
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
  }
  .accountsummarycreatetitle h2 {
    font-size: 15px !important;
  }
  #backgroundgreen {
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 63px;
    margin: 10px 20px;
    font-size: 15px;
    width: 70%;
    letter-spacing: 1px;
  }
}
