:root {
  --background: white;
  --background1: url("../Assets/circlesbg.svg");
  --background2 : white;
  --fontcolor: black;
  --fontcolor2:black;
  --boxbg1:rgb(253, 247, 249);
   --borderbottom: rgb(4, 4, 4);
  --borderlable1:1px solid black;
  --boxshadow:-6px 6px 12px #D8D5DC, 5px -5px 12px #ffffff, inset -6px 6px 12px rgb(181 181 181 / 40%), inset -5px -5px 14px rgba(255, 255, 255, 0.15);
  --boxshadowouter: inset 4px -4px 3px #FFFFFF,
  inset 8px -8px 60px -5px #F1E9EC,
  inset -7px 7px 5px -4px rgba(174, 174, 192, 0.4);
  --buttonbg: rgba(102, 96, 119, 0);
  --bordercolor: black;
  --underbox: rgba(255, 255, 255, 0.5) -3px -3px 6px inset, rgba(174, 174, 192, 0.16) 3px 3px 6px inset;
}

.dark {
  --background: rgb(39, 35, 50);
  --background1: url("../Assets/circlesbgdark.svg");
  --background2: #272332;
  --fontcolor: white;
  --borderlable1:1px solid rgba(102, 96, 119, 0.22);
  --boxbg1:rgb(39, 35, 50);
  --fontcolor2: rgb(150, 143, 168);
  --borderbottom: rgb(255, 255, 255);
  --boxshadow: inset -8px -8px 60px -5px rgba(21, 20, 29, 0.6),
  inset 4px -4px 3px rgba(102, 96, 119, 0.5),
  inset -7px 7px 5px -4px #161222 ;
  --boxshadowouter: rgba(21, 20, 29, 0.6) -8px -8px 60px -5px inset, rgba(102, 96, 119, 0.5) 4px -4px 3px inset, rgb(22, 18, 34) -7px 7px 5px -4px inset;
  --buttonbg: rgba(102, 96, 119, 0.22);
  --bordercolor: white;
  --underbox : rgba(21, 20, 29, 0.6) -8px -8px 60px -5px inset, rgba(102, 96, 119, 0.5) 4px -4px 3px inset, rgb(22, 18, 34) -7px 7px 5px -4px inset;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center !important;
  --sb-track-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #7c49f9;
  --sb-thumb-color: #ffffff;
  --sb-size: 5px;

  text-align: center !important;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

button {
  line-height: normal;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 2, 72);
  max-width: 100%;
}

.app-wrapper {
  position: relative;
}

.app-wrapper.loading .App {
  visibility: hidden;
  pointer-events: none;
}

.loading {
  display: flex;
  flex-direction: row;
}

.loading__letter {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Audiowide", "Roboto", sans-serif;
  color: white;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 700px) {
  .loading__letter {
    font-size: 50px;
  }
}

@media (max-width: 340px) {
  .loading__letter {
    font-size: 40px;
  }
}
.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px; /* Adjust width as needed */
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: 1000; /* Ensure it appears above other content */
}
input[type="date"]::placeholder {
  content: "date";
}
