.divtoflexlogoconnectwallet {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
  align-items: center;
  color: white;
  position: relative;
  z-index: 2;
}

.sunn:hover{
  opacity: 0.5;
}
.sunn{
  color: var(--fontcolor);
}

.navbarMain {
  position: absolute;
  width: 100%;
  top: -12px;
}
.smartlogportal {
  width: 300px;
  height: auto;
}
#changeMode {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.connectwalletbuttondiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle {
  --width: 90px;
  --height: calc(var(--width) / 3);
  right: 10px;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background: linear-gradient(92deg, #1e1e1e 0.87%, #1c1b1b 98.92%);
}
.toggle input:not(:checked) + .slider {
  background: linear-gradient(92deg, #1e1e1e 0.87%, #1c1b1b 98.92%);
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 12px;
  color: #ffffff;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 12px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .divtoflexlogoconnecwallet img {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .divtoflexlogoconnectwallet {
    margin: 0px !important;
  }
  .smartlogportal {
    height: auto;
    width: 255px;
  }

  .connectwallet {
    padding: 7px 27px;
    font-size: 10px;
  }

  .connectwalletbuttondiv {
    font-size: 12px;
    padding: 11px 4px;
  }
  #changeMode {
    margin-left: 1rem;
  }

  .connectwalletbuttondiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 500px) {
  .smartlogportal {
    height: auto;
    width: 150px;
  }

  .connectwallet {
    padding: 7px !important;
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 525px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .disconnect {
    width: 150px;
  }
  .disconnect span {
    font-size: 12px !important;
  }
  .dropdown {
    width: 150px !important;
  }
  .dropdown span {
    font-size: 12px !important;
  }
  .disconnect-main {
    position: absolute;
    top: 50px;
    right: 58px;
    padding: 30px 0px;
    width: 200px;
  }
  .divtoflexlogoconnectwallet {
    display: flex;
    margin: 0px !important;
    justify-content: space-around;
  }
  .toggle {
    display: none;
  }
  .smartlogportal {
    height: auto;
    width: 200px;
  }
  #changeMode {
    margin-left: 7px;
    height: 25px;
    width: 25px;
  }
  .connectwallet {
    padding: 12px 27px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .smartlogportal {
    height: 60px !important;
    width: 180px !important;
  }
  .toggle {
    display: none;
  }
  .divtoflexlogoconnectwallet {
    margin: 10px !important;
  }
  #changeMode {
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 325px) {
  #changeMode {
    margin-left: 0rem !important;
  }
  .toggle {
    display: none;
  }
}
