.footericon:hover {
  transform: scale(1.2);
}

#mirroricon {
  width: auto;
  height: 28px;
}
.footerouterdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  text-align: "center";
  color: white;
  padding: 0px 0px;
  font-size: 15px;
}
.footericon {
  margin: 0px 3px;
  transition: transform 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0px;
  }
  .footercopyrightText {
    display: none;
  }
}
@media only screen and (max-width: 525px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    margin: 0px;
  }
  .footercopyrightText {
    display: none;
  }
  .footericon {
    display: none;
  }
}
