.footericon:hover {
  transform: scale(1.2);
}

#mirroricon {
  width: auto;
  height: 28px;
}

.footericon {
  margin: 0px 3px;
  transition: transform 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 425px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
  }
  .footercopyrightText {
    font-size: 12px;
  }
}
